.bodyimages {
    background-image: url("/resources/images/allbody.jpeg");
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .body1 {
    position: absolute;
    top: 32.06%;
    left: 3.85%;
    width: 6.51%;
    height: 2.81%;
  }
  
  .body2 {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 8%;
    height: 10%;
  }
  
  .body3 {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 8%;
    height: 10%;
  }
  