<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.goody.diet.order.OrderDTO" alias="OrderDTO"/>	
		<typeAlias type="com.goody.diet.order.OrderDetailDTO" alias="OrderDetailDTO"/>
		<typeAlias type="com.goody.diet.member.MemberDTO" alias="MemberDTO"/>	
		
		<typeAlias type="com.goody.diet.study.StudyDTO" alias="StudyDTO"/>
		<typeAlias type="com.goody.diet.study.StudyReviewDTO" alias="StudyReviewDTO"/>
		
		<typeAlias type="com.goody.diet.board.BbsDTO" alias="BbsDTO"></typeAlias>
		<typeAlias type="com.goody.diet.exercise.ExerciseDTO" alias="ExerciseDTO"/>
		<typeAlias type="com.goody.diet.exercise.ExerciseRoleDTO" alias="ExerciseRoleDTO"/>
		
		<typeAlias type="com.goody.diet.board.BbsDTO" alias="BbsDTO"/>
  	  	<typeAlias type="com.goody.diet.board.BoardDTO" alias="BoardDTO"/>
  	  	<typeAlias type="com.goody.diet.board.BoardFileDTO" alias="BoardFileDTO"/>		
  	  	
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineDTO" alias="HealthMachineDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineImgDTO" alias="HealthMachineImgDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineTopOptionDTO" alias="HealthMachineTopOptionDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineBottomOptionDTO" alias="HealthMachineBottomOptionDTO"/>


  	  	<typeAlias type="com.goody.diet.util.Pager" alias="Pager"/>
  	  	<typeAlias type="java.lang.Long" alias="Long" />
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="com.goody.diet.util.Pager" alias="Pager" />
	
	</typeAliases>


</configuration>