<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.goody.diet.cart.CartDTO" alias="CartDTO"/>	
		<typeAlias type="com.goody.diet.order.OrderDTO" alias="OrderDTO"/>	
		<typeAlias type="com.goody.diet.order.OrderDetailDTO" alias="OrderDetailDTO"/>
		
		<typeAlias type="com.goody.diet.member.MemberDTO" alias="MemberDTO"/>	
		<typeAlias type="com.goody.diet.member.DeliveryDTO" alias="DeliveryDTO"/>
		
		<typeAlias type="com.goody.diet.study.StudyDTO" alias="StudyDTO"/>
		<typeAlias type="com.goody.diet.study.StudyReviewDTO" alias="StudyReviewDTO"/>
		<typeAlias type="com.goody.diet.study.StudyReviewCommentDTO" alias="StudyReviewCommentDTO"/>
		<typeAlias type="com.goody.diet.study.StudyQnaDTO" alias="StudyQnaDTO"/>
		<typeAlias type="com.goody.diet.study.StudyBoardFileDTO" alias="StudyBoardFileDTO"/>	
		
		<typeAlias type="com.goody.diet.exercise.BodyDTO" alias="BodyDTO"/>
		<typeAlias type="com.goody.diet.exercise.RoutineDTO" alias="RoutineDTO"/>
		<typeAlias type="com.goody.diet.exercise.ExerciseDTO" alias="ExerciseDTO"/>
		<typeAlias type="com.goody.diet.exercise.ExerciseDTO" alias="ExerciseImgDTO"/>
	
		
		<typeAlias type="com.goody.diet.board.BbsDTO" alias="BbsDTO"/>
  	  	<typeAlias type="com.goody.diet.board.BoardDTO" alias="BoardDTO"/>
  	  	<typeAlias type="com.goody.diet.board.BoardFileDTO" alias="BoardFileDTO"/>		
  	  	
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineDTO" alias="HealthMachineDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.HealthMachineImgDTO" alias="HealthMachineImgDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.RealHealthMachineDTO" alias="RealHealthMachineDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.CategoryDTO" alias="CategoryDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.MachineQnaDTO" alias="MachineQnaDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.MachineReviewDTO" alias="MachineReviewDTO"/>
		<typeAlias type="com.goody.diet.healthMachine.MachineReviewCommentDTO" alias="MachineReviewCommentDTO"/>

  	  	<typeAlias type="com.goody.diet.util.Pager" alias="Pager"/>
  	  	<typeAlias type="java.lang.Long" alias="Long" />
		<typeAlias type="java.util.List" alias="List"/>
		
	
	</typeAliases>

</configuration>