<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.goody.diet.cart.CartDAO">
	<select id="getCartList" parameterType="CartDTO" resultMap="CartDTOMap">
		SELECT C.*,S.*,SF.*
		FROM CART C
			inner JOIN
			STUDY S
			ON (C.STUDYNUM = S.STUDYNUM)
			LEFT JOIN
			STUDYFILE SF
			ON (S.STUDYNUM = SF.STUDYNUM) 
		WHERE C.ID=#{id} AND c.status &lt; 2
		ORDER BY C.NUM ASC
	</select>
	
	<update id="setMemberStudyNum" parameterType="CartDTO">
		UPDATE MEMBER SET STUDYNUM=#{studyNum} WHERE ID=#{id}
	</update>
	
	<update id="setStudyStock" parameterType="CartDTO">
		UPDATE STUDY SET STUDYSTOCK = STUDYSTOCK -1 WHERE STUDYNUM=#{studyNum}
	</update>
	
	<!-- 태현 리스트 machine에선 saleprice,image필요-->
	<!-- id : cart-N   /cart : realMachine / machinenum: realmachine -N -->
	<!-- &lt; 는 < ///  &gt;는 >  -->
	<select id="getCartMachineList" parameterType="CartDTO" resultMap="CartMachineMap">
	SELECT * FROM cart c
	inner JOIN
	REALHEALTHMACHINE r 
	on(c.REALMACHINENUM=r.REALMACHINENUM)
	LEFT OUTER JOIN 
	HEALTHMACHINE h 
	on(r.MACHINENUM=h.MACHINENUM)
	LEFT OUTER JOIN 
	(
			SELECT * FROM (
			SELECT m2.*,rank()over(PARTITION BY MACHINENUM ORDER BY filenum ASC)
			ranknum
			FROM MACHINEIMG m2
			) WHERE ranknum=1) t
	on(h.MACHINENUM=t.machinenum)
	WHERE c.ID =#{id} AND c.status &lt; 2
	</select>
	
	<select id="getPaymentList" parameterType="CartDTO" resultMap="CartDTOMap">
		SELECT C.*,S.*,SF.*
		FROM CART C
			inner JOIN
			STUDY S
			ON (C.STUDYNUM = S.STUDYNUM)
			LEFT JOIN
			STUDYFILE SF
			ON (S.STUDYNUM = SF.STUDYNUM) 
		WHERE C.ID=#{id} AND C.STATUS=1
		ORDER BY C.NUM ASC
	</select>
	<select id="getPaymentMachineList" parameterType="CartDTO" resultMap="CartMachineMap">
	SELECT * FROM cart c
	inner JOIN
	REALHEALTHMACHINE r 
	on(c.REALMACHINENUM=r.REALMACHINENUM)
	LEFT OUTER JOIN 
	HEALTHMACHINE h 
	on(r.MACHINENUM=h.MACHINENUM)
	LEFT OUTER JOIN 
	(
			SELECT * FROM (
			SELECT m2.*,rank()over(PARTITION BY MACHINENUM ORDER BY filenum ASC)
			ranknum
			FROM MACHINEIMG m2
			) WHERE ranknum=1) t
	on(h.MACHINENUM=t.machinenum)
	WHERE c.ID =#{id} AND c.status=1
	</select>
	
	<insert id="setCartStudyAdd" parameterType="CartDTO">
		INSERT INTO CART (NUM,ID,STUDYNUM,COUNT,STATUS,CARTPRICE)
		VALUES (CART_SEQ.NEXTVAL,#{id},#{studyNum},#{count},#{status}, #{cartPrice})
	</insert>
	
	<update id="setCartCheckUpdate" parameterType="long">
		UPDATE CART SET STATUS=1 WHERE  NUM=#{num}
	</update>
	
	<update id="setCartCheckDefaultUpdate" parameterType="CartDTO">
		UPDATE CART SET STATUS=0 WHERE id=#{id} AND STATUS=1
	</update>
	<update id="setCartStatusUpdate" parameterType="CartDTO">
	UPDATE CART SET STATUS =2 WHERE num=#{num}
	</update>
	<!-- 태현 -->
	
	<update id="setCartCountUpdate" parameterType="CartDTO">
	UPDATE cart SET "COUNT"=#{count} WHERE num=#{num}
	
	</update>
	<insert id="setCartMachineAdd" parameterType="CartDTO">
		insert into Cart(num,id,studynum,realmachinenum, COUNT,status,cartprice)
		VALUES (CART_SEQ.NEXTVAL,#{id},#{studyNum,jdbcType=INTEGER},#{realMachineNum,jdbcType=INTEGER},#{count},#{status},#{cartPrice})
	</insert>
	<update id="setCartMachineCount" parameterType="CartDTO">
	UPDATE CART SET "COUNT"="COUNT"+1 WHERE REALMACHINENUM=#{realMachineNum}
	</update>
	
	<delete id="setCartDelete" parameterType="Long">
		DELETE CART WHERE NUM=#{num}
	</delete>
	
	<update id="setMachineStock" parameterType="CartDTO">
	<selectKey keyProperty="count" resultType="Long" order="BEFORE">
		SELECT count FROM cart where num=#{num}
	  </selectKey>
		UPDATE REALHEALTHMACHINE SET STOCK = STOCK -#{count} WHERE REALMACHINENUM=#{realMachineNum}
	</update>
	
<!--태현  -->
	<resultMap type="CartDTO" id="CartMachineMap">
	<id column="num" property="num" />
			<result column="id" property="id" />
			<result column="REALMACHINENUM" property="realMachineNum" />
			<result column="studyNum" property="studyNum" />
			<result column="count" property="count" />
			<result column="status" property="status"/>
			<result column="cartprice" property="cartPrice"/>
			<association property="realHealthMachineDTO" javaType="RealHealthMachineDTO" >
			<id column="REALMACHINENUM" property="realMachineNum"/>
			<result column="MACHINENUM" property="machineNum"/>
			<result column="stock" property="machineNum"/>
			<result column="optName1" property="optName1"/>
			<result column="optid1" property="optId1"/>
			<result column="optName2" property="optName2"/>
			<result column="optid2" property="optId2"/>
			<result column="optName3" property="optName3"/>
			<result column="optid3" property="optId3"/>
			<result column="optName4" property="optName4"/>
			<result column="optid4" property="optId4"/>
			</association>
			<association property="healthMachineDTO" javaType="HealthMachineDTO">
			<id column="MACHINENUM" property="machineNum"/>
			<result column="machineName" property="machineName"/>
			<result column="machinescore" property="machineScore"/>
			<result column="price" property="price"/>
			<result column="saleprice" property="salePrice"/>
			<result column="option1" property="option1"/>
			<result column="option2" property="option2"/>
			<result column="option3" property="option3"/>
			<result column="option4" property="option4"/>
				<collection property="healthMachineImgDTOs" javaType="list"
				ofType="HealthMachineImgDTO">
				<id column="fileNum" property="fileNum" />
				<result column="FILENAME" property="fileName" />
				<result column="ORINAME" property="oriName" />
				</collection>
			</association>
	</resultMap>
<!-- -->
	<resultMap id="CartDTOMap" type="CartDTO">
		<id column="num" property="num" />
			<result column="id" property="id" />
			<result column="realMachineNum" property="realMachineNum" />
			<result column="studyNum" property="studyNum" />
			<result column="count" property="count" />
			<result column="status" property="status" />
			<result column="cartPrice" property="cartPrice" />
		<collection property="studyDTOs" ofType="StudyDTO">
			<id column="studyNum" property="studyNum" />
				<result column="studyName" property="studyName" />
				<result column="studyCost" property="studyCost" />
				<result column="studyStartPeriod" property="studyStartPeriod" />
				<result column="studyEndPeriod" property="studyEndPeriod" />
				<result column="studyStock" property="studyStock" />
			<collection property="studyBoardFileDTOs" javaType="List"  ofType="StudyBoardFileDTO">
				<id column="fileNum" property="fileNum" />
					<result column="fileName" property="fileName" />
					<result column="oriName" property="oriName"/>
			</collection>
		</collection>
	</resultMap>
		 
 </mapper>
