<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.cart.CartDAO">
	
	<select id="getCartList" parameterType="CartDTO" resultMap="CartDTOMap">
		SELECT C.*,S.*,SF.*
		FROM CART C
			LEFT JOIN
			STUDY S
			ON (C.STUDYNUM = S.STUDYNUM)
			LEFT JOIN
			STUDYFILE SF
			ON (S.STUDYNUM = SF.STUDYNUM) 
		WHERE C.ID=#{id}
		ORDER BY C.NUM ASC
	</select>
	
	<insert id="setCartStudyAdd" parameterType="CartDTO">
		INSERT INTO CART (NUM,ID,STUDYNUM)
		VALUES (CART_SEQ.NEXTVAL,#{id},#{studyNum})
	</insert>
	
	<!-- 태현 -->
	<insert id="setCartMachineAdd" parameterType="CartDTO">
		insert into Cart(num,id,studynum,machinenum)
		VALUES (CART_SEQ.NEXTVAL,#{id},#{studyNum,jdbcType=INTEGER},#{machineNum,jdbcType=INTEGER})
	</insert>
	
	<delete id="setCartDelete" parameterType="Long">
		DELETE CART WHERE NUM=#{num}
	</delete>

	<resultMap id="CartDTOMap" type="CartDTO">
		<id column="num" property="num" />
			<result column="id" property="id" />
			<result column="machineNum" property="machineNum" />
			<result column="studyNum" property="studyNum" />
			<result column="count" property="count" />
		<collection property="studyDTOs" ofType="StudyDTO">
			<id column="studyNum" property="studyNum" />
				<result column="studyName" property="studyName" />
				<result column="studyCost" property="studyCost" />
				<result column="studyStartPeriod" property="studyStartPeriod" />
				<result column="studyEndPeriod" property="studyEndPeriod" />
				<result column="studyStock" property="studyStock" />
			<collection property="studyBoardFileDTOs" javaType="List"  ofType="StudyBoardFileDTO">
				<id column="fileNum" property="fileNum" />
					<result column="fileName" property="fileName" />
					<result column="oriName" property="oriName"/>
			</collection>
		</collection>
	</resultMap>
		 
 </mapper>