<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.exercise.ExerciseDAO">
   
  <!-- 부위별 리스트 --> 
  <select id="getBodyList" resultType="bodyDTO" parameterType="bodyDTO">
		SELECT * FROM BODY
		ORDER BY BODYNUM
	</select>
	
	<!-- 부위별 리스트 + IMG + 영상 조인 리스트 -->
	<select id="getBodyDetailList" resultMap="getExerciseResult">
		SELECT * FROM
		EXERCISE EX
		LEFT OUTER JOIN
		(
		SELECT * FROM (
		SELECT
		EXI.*,rank()over(PARTITION BY NUM ORDER BY FILENUM ASC) RANKNUM
		FROM EXERCISEIMG EXI
		) WHERE RANKNUM=1) B
		on(EX.NUM=B.NUM)
		INNER JOIN
		BODY B
		ON(B.NUM=EX.NUM)
		WHERE
		B.BODYNUM=#{param1}
	</select>
	<resultMap type="ExerciseDTO" id="getExerciseResult">
		<id column="NUM" property="num"/>
		<result column="machineNum" property="machineNum"/>
		<result column="urlId" property="urlId"/>
		<result column="power" property="power"/>
		<result column="bodyPart" property="bodyPart"/>
		<result column="time" property="time"/>
		<result column="detailTitle" property="detailTitle"/>
		<result column="info" property="info"/>
		<result column="highLight" property="highLight"/>
	<collection property="bodyDTOs" javaType="list" ofType="BodyDTO">
		<id column = "bodyNum" property = "bodyNum"/>
		<result column="bodyName" property="bodyName"/>
	</collection>
		<collection property="boardFileDTOs" javaType="list" ofType="BoardFileDTO">
			<id column="fileNum" property="fileNum"/>
	  			<result column="fileName" property="fileName"/>
	  			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
  	<select id="getExerciseInfo" parameterType="ExerciseDTO" resultType="ExerciseDTO">
  		SELECT * FROM EXERCISE WHERE NUM=#{num}
  	</select>
 
  		<insert id="setExerciseAdd" parameterType="ExerciseDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
		  			SELECT EXERCISE_SEQ.NEXTVAL FROM DUAL
	  	</selectKey>
		INSERT INTO EXERCISE (NUM, MACHINENUM, URLID, POWER, BODYPART, TIME, detailTitle, INFO)
		VALUES(#{num}, #{machineNum}, #{urlId}, #{power}, #{bodyPart}, #{time}, #{detailTitle}), #{info})
		</insert>
		<insert id="setExerciseImg" parameterType="BoardFileDTO">
			INSERT INTO EXERCISEIMG(FILENUM, NUM, FILENAME, ORINAME)
			VALUES(IMG_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
		</insert>
		<select id ="getExerciseMachine" resultMap="getHealthMachineResult">
			SELECT DISTINCT * FROM HEALTHMACHINE H 
			LEFT OUTER JOIN
			EXERCISE EX
			ON (EX.MACHINENUM = H.MACHINENUM)
		</select>
		<resultMap type="ExerciseDTO" id="getHealthMachineResult">
			<id column="num" property="num"/>
			<result column="machineNum" property="machineNum"/> 
			<result column="urlId" property="urlId"/>
			<result column="power" property="power"/>
			<result column="bodyPart" property="bodyPart"/>
			<result column="time" property="time"/>
			<result column="detailTitle" property="detailTitle"/>
			<result column="highLight" property="highLight"/>
			<result column="info" property="info"/>
			
			<collection property="healthMachineDTOs" javaType="list" ofType="healthMachineDTO">
				<id column="machineNum" property="machineNum"/>
		  			<result column="machineName" property="machineName"/>
			</collection>
		</resultMap> 

	<delete id="setExercsieDelete" parameterType="ExerciseDTO">
  		DELETE EXERCISE WHERE NUM=#{num}
  	</delete>
  	
  	<select id="getExerciseFileList" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM EXERCISEFILES WHERE NUM=#{num}
  	</select>
    <select id="getExerciseFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM EXERCISEFILES WHERE FILENUM=#{fileNum}
  	</select>
 </mapper>
<!-- detail : urlId만 뽑아오기-->
	<!-- <select id="getExerciseBody" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE WHERE BODYPART = #{bodyPart}
	</select>	
 -->
<!-- 영상 가져오기 -->	
 	