<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.exercise.ExerciseDAO">
 
 
<!-- routine에서 일차별로 영상 가져오기 -->	
	<select id="getExerciseList" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE 
	</select>

<!-- video링크 -->
	<select id="getExerciseVideo" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE WHERE NUM = #{num}
	</select>


<!-- detail : urlId만 뽑아오기-->
	<!-- <select id="getExerciseBody" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE WHERE BODYPART = #{bodyPart}
	</select>	
 -->

		 
 </mapper>