<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.exercise.ExerciseDAO">
 
<!-- routine에서 일차별로 영상 가져오기 -->	
	<select id="getExerciseList" resultMap="getExerciseResult">
	SELECT * FROM EXERCISE EX
	LEFT OUTER JOIN 
	EXERCISEIMG EXI
	ON(EX.NUM=EXI.NUM)
	ORDER BY EX.NUM
	</select>
	<resultMap type="ExerciseDTO" id="getExerciseResult">
		<id column="NUM" property="num"/>
		<result column="machineNum" property="machineNum"/>
		<result column="title" property="title"/>
		<result column="days" property="days"/>
		<result column="urlId" property="urlId"/>
		<result column="power" property="power"/>
		<result column="bodyPart" property="bodyPart"/>
		<result column="time" property="time"/>
		<result column="detailTitle" property="detailTitle"/>
		<result column="info" property="info"/>
		<result column="coordinate" property="coordinate"/>
		<result column="highLight" property="highLight"/>
		
		
		<collection property="boardFileDTOs" javaType="list" ofType="BoardFileDTO">
			<id column="fileNum" property="fileNum"/>
	  			<result column="fileName" property="fileName"/>
	  			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	

<!-- video링크 -->
	<select id="getExerciseVideo" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE WHERE NUM = #{num}
	</select>

	<select id="getExerciseBody"  resultMap="getExerciseResult">
		SELECT DISTINCT * FROM EXERCISE EX
		LEFT OUTER JOIN
		EXERCISEIMG EXI
		ON(EX.NUM = EXI.NUM)
		ORDER BY EX.BODYPART
		WHERE NUM=#{num}
	
	</select> 

  	<insert id="setExerciseAdd" parameterType="ExerciseDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
		  			SELECT EXERCISE_SEQ.NEXTVAL FROM DUAL
	  	</selectKey>
		INSERT INTO EXERCISE (NUM, MACHINENUM, TITLE, DAYS, URLID, POWER, BODYPART, TIME, DETAIL1)
		VALUES(#{num}, #{machineNum}, #{title}, #{days}, #{urlId}, #{power}, #{bodyPart}, #{time}, #{detail1})
		</insert>
		<insert id="setExerciseImg" parameterType="BoardFileDTO">
			INSERT INTO EXERCISEIMG(FILENUM, NUM, FILENAME, ORINAME)
			VALUES(IMG_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
		</insert>
		<select id = "getExerciseMachine" resultMap="getHealthMachineResult">
			SELECT H.MACHINENUM, H.MACHINENAME FROM HEALTHMACHINE H 
			LEFT OUTER JOIN
			EXERCISE EX
			ON (EX.MACHINENUM = H.MACHINENUM)
		</select>
		<resultMap type="ExerciseDTO" id="getHealthMachineResult">
			<id column="num" property="num"/>
			<result column="machineNum" property="machineNum"/>
			<result column="title" property="title"/>
			<result column="days" property="days"/>
			<result column="urlId" property="urlId"/>
			<result column="power" property="power"/>
			<result column="bodyPart" property="bodyPart"/>
			<result column="time" property="time"/>
			<result column="detail1" property="detail1"/>
			<result column="highLight" property="highLight"/>
			<result column="info" property="info"/>
			
			<collection property="healthMachineDTOs" javaType="list" ofType="healthMachineDTO">
				<id column="machineNum" property="machineNum"/>
		  			<result column="machineName" property="machineName"/>
			</collection>
		</resultMap> 
	
	
	<delete id="setExercsieDelete" parameterType="ExerciseDTO">
  		DELETE EXERCISE WHERE NUM=#{num}
  	</delete>
  	
  	<select id="getExerciseFileList" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM EXERCISEFILES WHERE NUM=#{num}
  	</select>
    <select id="getExerciseFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM EXERCISEFILES WHERE FILENUM=#{fileNum}
  	</select>
  	<select id="getExerciseInfo" parameterType="ExerciseDTO" resultType="ExerciseDTO">
  		SELECT * FROM EXERCISE
  	</select>
  	
	
 </mapper>
<!-- detail : urlId만 뽑아오기-->
	<!-- <select id="getExerciseBody" parameterType="ExerciseDTO" resultType="ExerciseDTO">
		SELECT * FROM EXERCISE WHERE BODYPART = #{bodyPart}
	</select>	
 -->

		 