<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.goody.diet.healthMachine.HealthMachineDAO">
	<!--<select id="getHealthMachineList" resultType="HealthMachineDTO">
		SELECT * FROM
		HEALTHMACHINE
	</select>
	<insert id="setHealthMachineAdd" 
		parameterType="HealthMachineDTO">
		<selectKey keyProperty="machineNum" resultType="Long" order="BEFORE">
		SELECT MACHINE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO HEALTHMACHINE
		(MACHINENUM,CATEGORYNUM,MACHINENAME,MACHINESCORE,MACHINEDETAIL,PRICE,STOCK,SALE)
		VALUES(#{machineNum},#{categoryNum},#{machineName},0,#{machineDetail},#{price},#{stock},#{sale})
	</insert>
	<insert id="setHealthMachineTopOptionAdd"
		parameterType="HealthMachineTopOptionDTO">
		
		<selectKey keyProperty="topOptionNum" resultType="Long" order="BEFORE">
		SELECT OPTION_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO TOPOPTION (TOPOPTIONNUM,MACHINENUM,OPTIONNAME)
		VALUES(#{topOptionNum},#{machineNum},#{optionName})
	</insert>
	<insert id="setHealtMachineBottomOptionAdd" parameterType="HealthMachineBottomOptionDTO">
	INSERT INTO BOTTOMOPTION (BOTTOMOPTIONNUM,TOPOPTIONNUM,OPTIONNAME)
	VALUES(OPTION_SEQ.NEXTVAL,#{topOptionNum},#{optionName})
	</insert>
	
	<insert id="setHealthMachineImgAdd" parameterType="HealthMachineImgDTO">
	INSERT INTO MACHINEIMG(FILENUM, MACHINENUM,FILENAME,ORINAME)
	VALUES(FILE_SEQ.NEXTVAL,#{machineNum},#{fileName},#{oriName})
	</insert>
	
	<select id="getHealthMachineDetail" parameterType="HealthMachineDTO" resultMap="machineDetailResult">
	SELECT * FROM HEALTHMACHINE h 
	LEFT OUTER JOIN
	TOPOPTION t 
	ON(h.MACHINENUM=t.MACHINENUM)
	WHERE h.MACHINENUM =#{machineNum}
	
	</select>
	<resultMap type="HealthMachineDTO" id="machineDetailResult">
	
		<id column="MACHINENUM" property="machineNum"/>
		<result column="CATEGORYNUM" property="categoryNum"/>
		<result column="MACHINENAME" property="machineName"/>
		<result column="MACHINEDETAIL" property="machineDetail"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALE" property="sale"/>
		<association property="healthMachineImgDTO" javaType="HealthMachineImgDTO">
		<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
			<result column="ORINAME" property="oriName" />
		</association>
		<association property="healthMachineTopOptionDTO" javaType="HealthMachineTopOptionDTO">
		<id column="TOPOPTIONNUM" property="topOptionNum"/>
		<result column="TOPOPTIONNAME" property="topOptionName"/>
			
		</association>
		
	</resultMap> -->
	
</mapper>