<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.healthMachine.MachineReviewCommentDAO">
  	<sql id="commentCondition">
  		<trim prefix="where" suffixOverrides="and">
			NUM = #{num} AND
			
			<if test="kind == 'comments'">
				COMMENTS LIKE '%'|| #{search} || '%'
			</if>
			
			<if test="kind == 'writer'">
				WRITER LIKE '%'|| #{search} || '%'
			</if>
		</trim> 
  	</sql>
  	
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM MACHINREVIEWCOMMENT
		<include refid="commentCondition"></include>		
  	</select>
  	
  	<select id="getBoardList" resultType="MachineReviewCommentDTO" parameterType="Pager">
  		SELECT * FROM
  		(	
  			SELECT ROWNUM R, C.* FROM
  				(	SELECT * FROM MACHINREVIEWCOMMENT
					<include refid="commentCondition"></include>
					ORDER BY COMMENTNUM DESC
				) C
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
  	</select>
  	
  	<insert id="setBoardAdd" parameterType="MachineReviewCommentDTO">
  		INSERT INTO MACHINREVIEWCOMMENT (COMMENTNUM,NUM,COMMENTS,REGDATE,WRITER)
  		VALUES (COMMENT_SEQ.NEXTVAL,#{num},#{comments},SYSDATE,#{writer})
  	</insert>
  	
  	<delete id="setBoardDelete" parameterType="MachineReviewCommentDTO">
 		DELETE MACHINREVIEWCOMMENT WHERE COMMENTNUM=#{commentNum}
 	</delete> 
  </mapper>