<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goody.diet.member.MemberDAO">

	<select id="getMemberLogin" parameterType="MemberDTO" resultMap="getMemberRole">
		SELECT * FROM "MEMBER" m 
		LEFT JOIN MEMBERROLE mr
		ON (m.ID = mr.ID)
		LEFT JOIN "ROLE" r 
		ON (mr.ROLENUM = r.ROLENUM)
		WHERE m.ID=#{id}
	</select>
	<select id="getKakaoLogin" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBERAUTH WHERE ID=#{id}
	</select>
		
	<select id="getEmailCheck" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM "MEMBER" WHERE EMAIL=#{email}
	</select>	
	
	<insert id="setMemberJoin" parameterType="com.goody.diet.member.MemberDTO">
		INSERT INTO "MEMBER" (ID, PW, NAMES, PHONE, EMAIL, ADDRESS, LOGINTYPE) 
		VALUES (#{id}, #{pw}, #{names}, #{phone}, #{email}, #{address}, #{loginType})
	</insert>
	<insert id="setKakaoJoin" parameterType="com.goody.diet.member.MemberDTO">
		INSERT INTO "MEMBER" (ID, NAMES, EMAIL, LOGINTYPE) 
		VALUES (#{id}, #{names}, #{email}, #{loginType})
	</insert>	
	<insert id="setMemberRole" parameterType="MemberDTO">
		INSERT INTO MEMBERROLE VALUES(#{id}, (SELECT ROLENUM FROM ROLE WHERE ROLENAME='USER'))
	</insert>
	
	<delete id="setMemberDelete" parameterType="MemberDTO">
		DELETE MEMBER WHERE ID=#{id}
	</delete>
		<delete id="setMemberRoleDelete" parameterType="MemberDTO">
		DELETE MEMBERROLE WHERE ID=#{id}
	</delete>
		
	<resultMap type="MemberDTO" id="getMemberRole">
		<id column="ID" property="id"/>
		<result column="PW" property="pw"/>
		<result column="STUDYNUM" property="studyNum"/>
		<result column="NAMES" property="names"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="LOGINTYPE" property="loginType"/>
		<association property="roleDTO" javaType="com.goody.diet.member.RoleDTO">
			<id column="ROLENUM" property="roleNum"/>
			<result column="ROLENAME" property="roleName"/>
		</association>
	</resultMap>
	
</mapper>