<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goody.diet.order.OrderDAO">

<insert id="setOrder" parameterType="OrderDTO">
	<selectKey keyProperty="orderNum" order="BEFORE" resultType="Long">
	SELECT ORDER_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO "ORDER" (ORDERNUM, ID, ORDERDATE, ORDERSTATUS, PRICE, ADDRESS, RECIPIENTTEL, RECIPIENT)
		VALUES (#{orderNum}, #{id}, SYSDATE, 1,#{price}, #{address}, #{recipientTel}, #{recipient})
	</insert>
	
	
	 <insert id="setOrderDetail" parameterType="CartDTO">
		INSERT INTO ORDERDETAIL (ORDERNUM,num)
		values(#{orderNum},#{num})
	</insert>
	<select id="getPrimeDelivery" parameterType="MemberDTO" resultType="com.goody.diet.member.DeliveryDTO">
		SELECT * FROM DELIVERY d WHERE ADDRESS=(SELECT ADDRESS FROM "MEMBER" m WHERE ID=#{id})
	</select>

	<select id="getOrderList" parameterType="MemberDTO" resultMap="OrderDTOMap">
		SELECT * FROM "ORDER" O
		LEFT OUTER JOIN      
		ORDERDETAIL od
		on(O.ORDERNUM=od.ORDERNUM)
		LEFT OUTER JOIN
		cart C 
		on(od.NUM=c.NUM)
			LEFT OUTER JOIN
			REALHEALTHMACHINE r 
			on(c.REALMACHINENUM=r.REALMACHINENUM)
			LEFT OUTER JOIN 
			HEALTHMACHINE h 
			on(r.MACHINENUM=h.MACHINENUM)
			LEFT OUTER JOIN 
			(
					SELECT * FROM (
					SELECT m2.*,rank()over(PARTITION BY MACHINENUM ORDER BY filenum ASC)
					ranknum
					FROM MACHINEIMG m2
					) WHERE ranknum=1) t
			on(h.MACHINENUM=t.machinenum)
				LEFT JOIN
				STUDY S
				ON (C.STUDYNUM = S.STUDYNUM)
				LEFT JOIN
				STUDYFILE SF
				ON (S.STUDYNUM = SF.STUDYNUM) 
		WHERE O.ID  =#{id} AND c.status =2 AND O.ORDERSTATUS=1
	</select>
	

	<resultMap id="OrderDTOMap" type="OrderDTO">
		<id column="orderNum" property="orderNum" />
			<result column="id" property="id" />
			<result column="orderDate" property="orderDate" />
			<result column="orderStatus" property="orderStatus" />
			<result column="price" property="price"/>
			<result column="ADDRESS" property="address"/>
			<result column="recipient" property="recipient"/>			
			<result column="recipientTel" property="recipientTel"/>
						
			<collection property="cartDTOs" javaType="List" ofType="CartDTO">
				<id column="num" property="num" />
				<result column="id" property="id" />
				<result column="REALMACHINENUM" property="realMachineNum" />
				<result column="studyNum" property="studyNum" />
				<result column="count" property="count" />
				<result column="status" property="status"/>
				<result column="cartprice" property="cartPrice"/>
				<!-- 운동기구 -->
					<association property="realHealthMachineDTO" javaType="RealHealthMachineDTO" >
					<id column="REALMACHINENUM" property="realMachineNum"/>
					<result column="MACHINENUM" property="machineNum"/>
					<result column="stock" property="machineNum"/>
					<result column="optName1" property="optName1"/>
					<result column="optid1" property="optId1"/>
					<result column="optName2" property="optName2"/>
					<result column="optid2" property="optId2"/>
					<result column="optName3" property="optName3"/>
					<result column="optid3" property="optId3"/>
					<result column="optName4" property="optName4"/>
					<result column="optid4" property="optId4"/>
					</association>
					<association property="healthMachineDTO" javaType="HealthMachineDTO">
					<id column="MACHINENUM" property="machineNum"/>
					<result column="machineName" property="machineName"/>
					<result column="machinescore" property="machineScore"/>
					<result column="price" property="price"/>
					<result column="saleprice" property="salePrice"/>
					<result column="option1" property="option1"/>
					<result column="option2" property="option2"/>
					<result column="option3" property="option3"/>
					<result column="option4" property="option4"/>
						<collection property="healthMachineImgDTOs" javaType="list"
						ofType="HealthMachineImgDTO">
						<id column="fileNum" property="fileNum" />
						<result column="FILENAME" property="fileName" />
						<result column="ORINAME" property="oriName" />
						</collection>
					</association>
					<!-- 운동기구 -->
		
				<!-- study -->
				<collection property="studyDTOs" javaType="List" ofType="StudyDTO">
					<id column="studyNum" property="studyNum" />
						<result column="studyName" property="studyName" />
						<result column="studyCost" property="studyCost" />
						<result column="studyStartPeriod" property="studyStartPeriod" />
						<result column="studyEndPeriod" property="studyEndPeriod" />
						<result column="studyStock" property="studyStock" />
					<collection property="studyBoardFileDTOs" javaType="List"  ofType="StudyBoardFileDTO">
						<id column="fileNum" property="fileNum" />
							<result column="fileName" property="fileName" />
							<result column="oriName" property="oriName"/>
					</collection>
				</collection>		
			
			</collection>

	
	</resultMap>
	
</mapper>
