<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  <mapper namespace="sample">
  </mapper> -->
<mapper namespace="com.goody.diet.order.OrderDAO">
	
	<insert id="setOrderList" parameterType="OrderDTO">
		INSERT INTO "ORDER" VALUES (ORDER_SEQ.NEXTVAL, 3, SYSDATE, '결제완료')
	</insert>
	
<!-- 	<select id="getOrderDetail" parameterType="OrderDTO" resultMap="OrderDetails"> -->
	
<!-- 	</select> -->


	<insert id="setOrderDetail" parameterType="OrderDetailDTO">
		INSERT INTO ORDERDETAIL (orderDetailNum, machineNum, studyNum, orderNum, count, price) 
		VALUES (ORDERDETAIL_SEQ.NEXTVAL, #{machineNum}, #{studyNum},#{orderNum},#{count},#{price});
	</insert>

<resultMap type="OrderDetailDTO" id="OrderDetails">

	<collection property=""></collection>
</resultMap>


</mapper>
