<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.goody.diet.exercise.RoutineDAO">
	
	<select id="getRoutineList" parameterType="RoutineDTO" resultType="RoutineDTO">
		SELECT * FROM ROUTINE ORDER BY NUM
	</select>
		<!-- video링크 -->
	<select id="getRoutineVideo" parameterType="RoutineDTO" resultType="RoutineDTO">
		SELECT * FROM ROUTINE WHERE NUM = #{num}
	</select>
	
	<insert id="setRoutineAdd" parameterType="RoutineDTO">
		INSERT INTO ROUTINE (NUM,TITLE,VIDEOID,STARTDAY,ENDDAY,MACHINENUM)
		VALUES (ROU_SEQ.NEXTVAL,#{title},#{videoId},#{startDay},#{endDay},#{machineNum})
	</insert>
	
	<delete id="setRoutineDelete" parameterType="Long">
		DELETE ROUTINE WHERE NUM=#{num}
	</delete>

	
 </mapper>
