<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.goody.diet.exercise.RoutineDAO">
	
	<select id="getRoutineList" parameterType="RoutineDTO" resultType="RoutineDTO">
		SELECT * FROM ROUTINE ORDER BY NUM
	</select>
	<select id="getSelectList" parameterType="RoutineDTO" resultType="RoutineDTO">
		SELECT * FROM ROUTINE WHERE TRUNC(STARTDAY) = #{startDay}
	</select>
		<!-- video링크 -->
	<select id="getRoutineVideo" parameterType="RoutineDTO" resultMap="getHealthMachineResult">
		SELECT DISTINCT * FROM ROUTINE R 
			LEFT OUTER JOIN
			HEALTHMACHINE H
			ON (R.MACHINENUM = H.MACHINENUM)
			WHERE NUM = #{num}
	</select>
	<select id = "getRoutineMachine" parameterType="RoutineDTO" resultMap="getHealthMachineResult">
			SELECT DISTINCT * FROM ROUTINE R 
			LEFT OUTER JOIN
			HEALTHMACHINE H
			ON (R.MACHINENUM = H.MACHINENUM)
			WHERE TRUNC(STARTDAY) = #{startDay}
		</select>
		<resultMap type="RoutineDTO" id="getHealthMachineResult">
			<id column="num" property="num"/>
			<result column="machineNum" property="machineNum"/> 
			<result column="title" property="title"/>
			<result column="startDay" property="startDay"/>
			<result column="endDay" property="endDay"/>
			<result column="videoId" property="videoId"/>
			
			<association property="healthMachineDTO" javaType="HealthMachineDTO">
				<id column="machineNum" property="machineNum"/>
		  			<result column="machineName" property="machineName"/>
			</association>
		</resultMap>

	<insert id="setRoutineAdd" parameterType="RoutineDTO">
		<selectKey resultType="java.lang.Long" keyProperty="num"
			order="BEFORE">
			SELECT ROU_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ROUTINE (NUM, TITLE, VIDEOID, MACHINENUM, STARTDAY,
		ENDDAY)
		SELECT ROU_SEQ.NEXTVAL, #{title}, #{videoId}, M.MACHINENUM, #{startDay},
		#{endDay}
		FROM HEALTHMACHINE M
		JOIN ROUTINE R ON M.MACHINENUM = R.MACHINENUM
		WHERE M.MACHINENAME = #{machineName}
	</insert>
		
<!-- 	<insert id="setRoutineAdd" parameterType="RoutineDTO">
		 <selectKey resultType="java.lang.Long" keyProperty="num" order="BEFORE">
        SELECT ROU_SEQ.NEXTVAL FROM DUAL
   		 </selectKey>
		INSERT INTO ROUTINE (NUM,TITLE,VIDEOID,MACHINENUM,STARTDAY,ENDDAY)
		VALUES (ROU_SEQ.NEXTVAL,#{title},#{videoId},#{machineNum},#{startDay},#{endDay})
	</insert> -->
	
	<update id="setRoutineUpdate" parameterType="RoutineDTO">
 		UPDATE ROUTINE SET TITLE=#{title},STARTDAY=#{startDay},ENDDAY=#{endDay},VIDEOID=#{videoId},machineNum=#{machineNum}
 		WHERE NUM=#{num}
 	</update>
	
	<delete id="setRoutineDelete" parameterType="Long">
		DELETE ROUTINE WHERE NUM=#{num}
	</delete>

	
 </mapper>
