<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.study.StudyDAO">
  	<select id="getStudyCount" parameterType="Pager" resultType="Long">
 		SELECT COUNT(STUDYNUM) FROM STUDY
 	</select>
 	
 	<select id="getStudyReivewCount" parameterType="StudyDTO" resultType="Long">
 		SELECT COUNT(NUM)
		FROM STUDYREVIEW
		WHERE STUDYNUM=#{studyNum}
 	</select>
 	
 	<select id="getStudyQnaCount" parameterType="StudyDTO" resultType="Long">
 		SELECT COUNT(NUM)
		FROM STUDYQNA
		WHERE STUDYNUM=#{studyNum}
 	</select>
  	
	<select id="getBoardList" parameterType="Pager" resultMap="getBoardResult">
		SELECT S.*, SF.*
		FROM STUDY S
			LEFT JOIN
			STUDYFILE SF
		ON (S.STUDYNUM = SF.STUDYNUM) 
		ORDER BY S.STUDYNUM ASC
	</select>
	
	<select id="getBoardDetail" parameterType="StudyDTO" resultMap="getBoardResult">
		SELECT S.*,SF.*
		FROM STUDY S
			LEFT JOIN
			STUDYFILE SF
		ON (S.STUDYNUM = SF.STUDYNUM) 
		WHERE S.STUDYNUM=#{studyNum}
		ORDER BY S.STUDYNUM ASC
	</select>

 	<resultMap type="StudyDTO" id="getBoardResult">
  		<id column="studyNum" property="studyNum"/>
	  		<result column="studyName" property="studyName"/>
	  		<result column="studyCost" property="studyCost"/>
	  		<result column="studyStartPeriod" property="studyStartPeriod"/>
	  		<result column="studyEndPeriod" property="studyEndPeriod"/>
	  		<result column="studyStock" property="studyStock"/>
	  		<result column="studyScore" property="studyScore"/>
		<collection property="studyBoardFileDTOs" javaType="List" ofType="StudyBoardFileDTO">
			<id column="fileNum" property="fileNum"/>
				<result column="fileName" property="fileName"/>
				<result column="oriName" property="oriName"/>
		</collection>  		
  	</resultMap>
  	
<!--   	<resultMap type="StudyDTO" id="getStudyCounts">
  		<id column="studyNum" property="studyNum"/>
	  		<result column="studyName" property="studyName"/>
	  		<result column="studyCost" property="studyCost"/>
	  		<result column="studyStartPeriod" property="studyStartPeriod"/>
	  		<result column="studyEndPeriod" property="studyEndPeriod"/>
	  		<result column="studyStock" property="studyStock"/>
		<collection property="studyReviewDTOs" javaType="List" ofType="StudyReviewDTO">
			<id column="num" property="num"/>
				<result column="studyNum" property="studyNum"/>
		</collection>  		
  	</resultMap> -->
	
	<insert id="setBoardAdd" parameterType="StudyDTO">
		<selectKey keyProperty="studyNum" resultType="Long" order="BEFORE">
  			SELECT STUDYNUM_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO STUDY (STUDYNUM,STUDYNAME,STUDYCOST,STUDYSTARTPERIOD,STUDYENDPERIOD,STUDYSTOCK)
  		VALUES (#{studyNum},#{studyName},#{studyCost}, #{studyStartPeriod},#{studyEndPeriod},#{studyStock})
  	</insert>
  	
  	<insert id="setBoardFileAdd" parameterType="StudyBoardFileDTO">
 		INSERT INTO STUDYFILE (FILENUM, STUDYNUM, FILENAME, ORINAME)
 		VALUES (FILE_SEQ.NEXTVAL ,#{studyNum}, #{fileName}, #{oriName})
 	</insert>
 		
	<update id="setBoardUpdate" parameterType="StudyDTO">
 		UPDATE STUDY SET STUDYNAME=#{studyName},STUDYCOST=#{studyCost},STUDYSTARTPERIOD=#{studyStartPeriod},STUDYENDPERIOD=#{studyEndPeriod},STUDYSTOCK=#{studyStock}
 		WHERE studyNum=#{studyNum}
 	</update>
 	
 	<delete id="setBoardFileDelete" parameterType="Long">
 		DELETE STUDYFILE WHERE FILENUM=#{fileNum}
 	</delete> 
 	
 	<delete id="setBoardDelete" parameterType="StudyDTO">
  		DELETE STUDY WHERE STUDYNUM=#{studyNum}
  	</delete>
 	
  </mapper>