<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.board.studyqna.StudyQnaDAO">
  	<select id="getBoardList" resultType="StudyQnaDTO" parameterType="Pager">
  		SELECT * FROM STUDYQNA
  	</select>
  	
  	<insert id="setBoardAdd" parameterType="StudyQnaDTO">
  		INSERT INTO STUDYQNA (NUM,STUDYNUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
  		VALUES(#{num},#{studyNum},#{title}, #{contents}, #{writer},SYSDATE,0,#{num},0,0)
  	</insert>
  	
  	<update id="setBoardAdd" parameterType="BbsDTO">
  		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
  	</update>
  	
  	<delete id="setBoardAdd" parameterType="BbsDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  	
  </mapper>