<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.study.StudyDAO">
  	<select id="getStudyCount" parameterType="Pager" resultType="Long">
 		SELECT COUNT(STUDYNUM) FROM STUDY
 	</select>
  	
	<select id="getBoardList" parameterType="Pager" resultType="StudyDTO">
		SELECT * FROM STUDY ORDER BY STUDYNUM ASC
	</select>
	
	<select id="getBoardDetail" parameterType="Pager" resultType="StudyDTO">
		SELECT * FROM STUDY WHERE STUDYNUM=#{studyNum}
	</select>

  </mapper>