<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goody.diet.study.StudyReviewDAO">
  
  <sql id="reviewCondition">
	  	<trim prefix="where" suffixOverrides="and">
			STUDYNUM=#{studyNum} AND
			
			<if test="kind == 'contents'">
				CONTENTS LIKE '%'|| #{search} || '%'
			</if>
			
			<if test="kind == 'writer'">
				WRITER LIKE '%'|| #{search} || '%'
			</if>
		</trim> 
	</sql>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM STUDYREVIEW 
  			<include refid="reviewCondition"></include>
  	</select>
  
  <select id="getBoardList" resultType="StudyReviewDTO" parameterType="Pager">
		SELECT * FROM
  		(	
  			SELECT ROWNUM R, C.* FROM
  				(	SELECT * FROM STUDYREVIEW
  					<include refid="reviewCondition"></include>
					ORDER BY NUM DESC
				) C
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}  
  </select>
  
  <insert id="setBoardAdd" parameterType="StudyReviewDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO STUDYREVIEW (NUM,STUDYNUM,CONTENTS,WRITER,REGDATE,HIT,SCORE)
  		VALUES(#{num},#{studyNum},#{contents}, #{writer},SYSDATE,0,#{score})
  </insert>
  
	<select id="getBoardDetail" resultType="StudyReviewDTO" parameterType="StudyReviewDTO">
  		SELECT * FROM STUDYREVIEW WHERE NUM=#{num} AND STUDYNUM=#{studyNum}
  	</select>
  	
	<update id="setHitUpdate" parameterType="StudyReviewDTO">
		UPDATE STUDYREVIEW SET HIT=HIT+1 WHERE NUM=#{num}
	</update>

  	<update id="setBoardUpdate" parameterType="StudyReviewDTO">
 		UPDATE STUDYREVIEW SET CONTENTS=#{contents},SCORE=#{score},REGDATE=SYSDATE WHERE NUM=#{num} AND STUDYNUM=#{studyNum}
 	</update>
  	
  	<delete id="setBoardDelete" parameterType="StudyReviewDTO">
  		DELETE STUDYREVIEW WHERE NUM=#{num} AND STUDYNUM=#{studyNum}
  	</delete> 
  	
  
<!--   
  <update id="setBoardUpdate" parameterType="StudyReviewDTO">
  		UPDATE STUDYREVIEW 
  		SET CONTENTS = #{contents}
  		WHERE NUM = #{num}
  </update>
  
  <delete id="setBoardDelete" parameterType="StudyReviewDTO">
  		DELETE STUDYREVIEW WHERE NUM=#{num}
  </delete> -->
  
  
  </mapper>